body{
    background: beige;
    margin:0;
}

section {
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-direction:row;
    border: 2px solid purple;
    /* height: 100vh; */
    width: 100vw;
}

section div{
    background:chartreuse;
    margin: 10px;
    border:1px solid rgb(0, 255, 255);
    /* width: 200px; */
    height: 200px;
    flex:1;
    /* text-align:center; */

    display:flex;
    justify-content:center;
    align-items:center;
}

.notRed{
    background:blue;
    flex:5;
}

.notRedOrBlue{
    flex:3;
    background: pink;

}