body{
    background: beige;
    margin:0;
}

section {
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-direction:row;
    border: 2px solid purple;
    /* height: 100vh; */
    width: 100vw;
}

section div{
    background:chartreuse;
    background:rgb(119, 50, 50);
    margin: 10px;
    border:1px solid rgb(155, 137, 104);
    border:1px solid rgb(0, 255, 255);
    /* width: 200px; */
    height: 200px;
    flex:2;
    /* text-align:center; */

    display:flex;
    justify-content:center;
    align-items:center;
}

.notRed{
    background:rgb(255, 208, 52);
    flex:3;
}

.notRedOrBlue{
    flex:2;
    background: pink;

}